<div class="bg-light p-5 mr-4 mt-5">


    <h4 class="text-warning display-4">Add section</h4>

    <form class="p-5" [formGroup]="accordianForm" (ngSubmit)="onSubmitEve()">
        <div class="form-group">
            <label class="h6 text-info" for="header">Section header*</label>
            <input type="text" name="header" id="header" class="form-control" formControlName="heading">
            <span class="text-danger"
                *ngIf="!accordianForm.get('heading').valid && accordianForm.get('heading').touched">This field is
                mandatory</span>
        </div>
        <div class="form-group">
            <label class="h6 text-info" for="details">Section details*</label>
            <textarea name="details" id="details" cols="30" rows="5" class="form-control"
                formControlName="details"></textarea>
            <span class="text-danger"
                *ngIf="!accordianForm.get('details').valid && accordianForm.get('details').touched">This field is
                mandatory</span>
        </div>
        <button type="submit" class="btn btn-info btn-block mt-5" [disabled]="accordianForm.invalid">Add</button>
    </form>
</div>